.progress--plan {
    margin-bottom: 168px;

}

.progress-plan {
    width: 1280px;
    margin-left: 0;
    padding: 100px 150px 100px 85px;
    background-image: url("/./images/plan-progres.png");
    background-repeat: no-repeat;
}

.progress-plan-list {

    &__title, &__desc {
        color: #FEFCF7;
    }

}
